@import "variables";
//Overridden Variables

/* fade image in after load */
.lazyload {
    opacity: 0;
}
// .lazyloaded {
//     opacity: 1;
//     transition: opacity 500ms;
// }

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #000000 url(/../images/loader.gif) no-repeat center;
}

.content {
  padding-left: 5%;
  padding-right: 5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.video-index {
  width: 100%;
  li {
    padding-bottom: 100px;
  }
}

.title {
  float: left;
}

.footer-nav {
  text-align: center;
  text-transform: uppercase;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
  }
}

.video-overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .video-block {
//   width: 100%;
//   padding-top: 65%;
//   margin-bottom: -80px;
// }

.video-overlay:hover {
  opacity: .8;
  transition: all 0.1s ease;
}

.arrow {
  margin-right: 50%;
  margin-left: 50%;
  max-height: 50px;
}

.hide {
  display: none;
}
