body {
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $font-weight;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-rendering: optimizeLegibility;
  // margin-top: 1em;
  // margin-bottom: .5em;
}

p,
dl,
ol,
ul {
  font-size: $h4;
  margin-top: 0;
  letter-spacing: .02em;
  margin-bottom: $space-2;
  font-weight: $heading-font-weight;
}

ol,
ul {
  padding-left: $space-3;
}

pre,
code,
samp {
  font-family: $monospace-font-family;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: $space-2;
  overflow-x: scroll;
}

hr {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

blockquote {
  margin-top: $space-3;
  margin-bottom: $space-3;
  margin-left: 0;
  padding-left: $space-2;
  padding-right: $space-2;
}

blockquote,
blockquote p {
  font-size: $h3;
  font-style: italic;
}

h1,
.h1 {
  font-size: $h1;
  letter-spacing: $h1-ls;
  line-height: $h1-lh;
}

h2,
.h2 {
  font-size: $h2;
  letter-spacing: $h2-ls;
  line-height: $h2-lh;
}

h3,
.h3 {
  font-size: $h3;
  letter-spacing: $h3-ls;
  line-height: $h3-lh;
}

h4,
.h4 {
  font-size: $h4;
  letter-spacing: $h4-ls;
  line-height: $h4-lh;
}

h5,
.h5 {
  font-size: $h5;
  letter-spacing: $h5-ls;
  line-height: $h5-lh;
}

h6,
.h6 {
  font-size: $h6;
  letter-spacing: $h6-ls;
  line-height: $h6-lh;
  font-weight: 400;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.mono {
  font-family: $monospace-font-family;
  letter-spacing: $monospace-letter-spacing;
}

.bold {
  font-weight: 700;
}
