---
title: Tomasz Werner
layout: default
description: Multi-disciplinary designer & art director based in Brooklyn, NY.
social-image: images/jukely-app-home-2-chrismuccioli.jpg
---

<div class="clearfix container">
   <div class="video-index">
    <ul>
      {% for post in site.categories.video %}
        {% if post.url %}
            <li>
              {{ post.excerpt }}
            <h2 class="red">{{ post.title }}</h2>
            <div class="">
              <h4>{{ post.roles }}</h4>
            </div>
            <div>
              <h2>{{ post.credits }}</h2></li>
            </div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

