<div class="clearfix container gray" id="about">
  <div class="row">
    <div class="col lg-col-3 md-col-6 sm-col-12 about-section">
      <h4 class="about-title">About</h4>
      <ul>
        <li>b. 1981, Warsaw</li>
        <li>Studied Video Art at SAIC, Chicago</li>
        <li>Studied Film at UT, Austin</li>
        <li> Lives and works in New York City</li>
      </ul>
    </div>
    <div class="col lg-col-2 md-col-6 sm-col-12 about-section about-section-right">
      <h4 class="about-title">Collaborations</h4>
      <ul>
        <li><a href="http://creativetime.org" target="_blank">Creative Time</a></li>
        <li><a href="#">Egal Dance</a></li>
        <li><a href="#">Kickstarter</a></li>
        <li><a href="#">MoMA</a></li>
        <li><a href="#">The New Museum</a></li>
        <li><a href="#">The New Yorker</a></li>
        <li><a href="#">National Geographic</a></li>
        <li><a href="#">Singles Club</a></li>
        <li><a href="#">UNHCR</a></li>
      </ul>
    </div>
    <div class="col lg-col-4 md-col-6 sm-col-12 about-section ">
      <h4 class="about-title">Projects</h4>
      <h4 class="bold pb1"><a href="#">The Video Consortium</a></h4>
      <p>A creative community of the world’s leading video journalists and nonfiction filmmakers promoting socially conscious, thought-provoking storytelling for a new era of media.</p>
      <h4 class="bold pb1"><a href="#">Mono No Aware</a></h4>
      <p>Brooklyn-based, non-profit cinema arts organization promoting cinematic art, film screenings, and performance year round.</p>
      <h4 class="bold pb1"><a href="#">Yesvhs</a></h4>
      <p>A future newsletter of mixtape finds and video delight. Click for inaugural issue download.</p>
    </div>
    <div class="col lg-col-2  md-col-6 sm-col-12 about-section about-section-right">
      <h4 class="about-title">Contact</h4>
      <ul>
        <li><a href="mailto:tomaszpwerner@gmail.com">tomaszpwerner@gmail.com</a></li>
        <li><a href="https://twitter.com/tomaszwerner">@tomaszwerner</a></li>
        <li class="pt2 "> <h5>© 2016 Tomasz Werner</h5></li>
        <li><h5><a href="http://www.chrismuccioli.com" target="_blank">Site Credits</a></h5></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-nav">
      <ul>
        <li><h3><a href="/documentary/">documentary</a></h3></li>
        <li><h3><a href="/cinematography/">cinematography</a></h3></li>
        <li><h3><a href="/music-video/">music video</a></h3></li>
        <li><h3><a href="/commercial/">commercial</a></h3></li>
      </ul>
</div>
