<div class="project-nav caps mono-bold clear-link">
<a href="{{ page.previous }}">
<div class="arrow">
    <svg width="88px" height="15px" viewBox="529 68 88 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(573.000000, 75.500000) scale(-1, 1) translate(-573.000000, -75.500000) translate(530.000000, 69.000000)" stroke-linecap="square">
            <path d="M0.5,6.5 L84.5238037,6.5" class="arrow-line"></path>
            <path d="M85.5,6.5 L79.9773195,0.977319492" class="arrow-line"></path>
            <path d="M85.5,12.5 L79.9773195,6.97731949" class="arrow-line" transform="translate(82.500000, 9.500000) scale(1, -1) translate(-82.500000, -9.500000) "></path>
        </g>
    </svg>
  </div>
</a>
<h4>Next Project</h4>
<a href="{{ page.next }}">
<div class="arrow">
    <svg style="left: 0;" width="88px" height="15px" viewBox="1223 1274 88 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1224.000000, 1275.000000)" stroke-linecap="square">
            <path d="M0.5,6.5 L84.5238037,6.5" class="arrow-line"></path>
            <path d="M85.5,6.5 L79.9773195,0.977319492" class="arrow-line"></path>
            <path d="M85.5,12.5 L79.9773195,6.97731949" class="arrow-line" transform="translate(82.500000, 9.500000) scale(1, -1) translate(-82.500000, -9.500000) "></path>
        </g>
    </svg>
  </div>
</a>
</div>
