<!doctype html>
<!--

Designed & Built by Chris Muccioli
Let's make something together.

-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="record club, vinyl, records, music, indie, lp">
  <meta name="author" content="Chris Muccioli">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500" rel="stylesheet">
  <meta property="og:url"              content="{{ site.url }}/{{ page.route }}" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="{{ page.title }}" />
  <meta property="og:description"        content="{{ page.description }}" />
  <meta property="og:image"              content="{{site.url}}/{{page.social-image}}" />
  <meta property="og:image:width"              content="1440px" />
  <meta property="og:image:height"              content="961px" />


</head>
